<div class="content">
    <div class="container">
        <div class="page-title">
            
            Users

            <a href="addUser" class="btn btn-outline-success btn-rounded"><i class="fas fa-fw fa-plus fa-xl"></i></a>

            <h3>
                <a href="roles" class="btn btn-sm btn-outline-primary float-end"><i class="fas fa-fw fa-user-shield"></i> Roles</a>
            </h3>
        </div>
        <div class="box box-primary">
            <div class="box-body">
                <table width="100%" class="table table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>idk</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i < users.length; i++) {
                            const user = users[i] %>
                            <tr>
                                <td><%= user.name %></td>
                                <td><%= user.email %></td>
                                <td><%= user.role%></td>
                                <td>idk</td>
                                <td><%= user.status%></td>
                                <td class="text-end">
                                    <% const x = user.status == "inactive" %>
                                    <a href="activateUser?id=<%= user.id%>" class="btn btn-outline-<%= x?'success':'danger'%> btn-rounded"><i class="fas fa-fw fa-angle-double-<%= x?'up':'down'%>" ></i></button>
                                    <a href="editUser?id=<%= user.id%>" class="btn btn-outline-info btn-rounded"><i class="fas fa-fw fa-pen fa-xl"></i></a>
                                    <button class="btn btn-outline-danger btn-rounded" onclick="if(window.confirm('Are you sure you want to delete')){window.open('/deleteUser?id=<%= user.id%>')}"><i class="fas fa-fw fa-trash"></i></button>
                                </td>
                            </tr>
                         <% } %>
                        


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>